<div class="row"><br>
    <div class="col-md-4 table-bordered">
        <img src="{{ use.dp.url }}" style="width: 50%; height: auto" class="img-circle img-responsive"
             alt="{{ user }}"/>
        <h2>{{ user.first_name }} {{ user.last_name }}<br>
            <i style="font-size: 80%;color: #269abc">@{{ user.username }}</i>
        </h2>
    </div>
    <div class="col-md-8">
        <h4><i class="glyphicon glyphicon-home"></i> {{ user.city_town }}</h4>
        <h4><i class="glyphicon glyphicon-envelope"></i> {{ user.email }}</h4>
        <h4><i class="glyphicon glyphicon-phone"></i> {{ user.mobile }}</h4>
        </h2>

        <button class="btn btn-facebook" onclick="alert('Coming Soon!!')">
             <i class="fa fa-facebook"></i>&nbsp;
            Facebook
        </button>

        <button class="btn btn-twitter"  onclick="alert('Coming Soon!!')">
             <i class="fa fa-twitter"></i>&nbsp;
            Twitter
        </button>
        <button class="btn btn-github"  onclick="alert('Coming Soon!!')">
             <i class="fa fa-github"></i>&nbsp;
            GitHub
        </button>
        <br><br>
        <button class="btn btn-linkedin"  onclick="alert('Coming Soon!!')">
             <i class="fa fa-linkedin"></i>&nbsp;
            Linkedin
        </button>
        <button class="btn btn-instagram"  onclick="alert('Coming Soon!!')">
             <i class="fa fa-instagram"></i>&nbsp;
            Instagram
        </button>
         <button class="btn btn-google-plus"  onclick="alert('Coming Soon!!')">
             <i class="fa fa-google-plus"></i>&nbsp;
            Google+
        </button>
    </div>
</div>